@use '../base/mixins' as m;
@use '../base/variables' as v;
.home{
    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows:53.5rem 26.5rem;
    }
}
.hero {
    @include m.desktop {
    grid-column: 1/8;
    height: 100%;
    }
}
.informative{
    @include m.desktop {
    grid-column: 8/13;
    height: 100%;
    }
}
.hero-left, .about, .hero-right{
    @include m.desktop {
    grid-row: 2/3;
    }
}
.hero-left{
    @include m.desktop {
    grid-column: 1/5;
    }
}
.about{
    @include m.desktop {
    grid-column: 5/9;
    }
}
.hero-right {
    @include m.desktop {
    grid-column: 9/13;
    }

}
.buttons{
    position: absolute;
    bottom: 0;
    left: 0;
}
.button{
    background-color: v.$black;
    padding: 2rem;
    border: none;
    height: 8rem;
    width: 8rem;
    margin: 0;
    cursor: pointer;
    transition: background .3s ease-in-out ;
}
