@use '../base/mixins' as m;
@use '../base/variables' as v;

.hero { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 6rem;
    height: 100%;
}

.hero--model-1{
    background-image: url('../images/desktop-image-hero-1.jpg');
  
}
.home__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 36.5rem;
;
}
.home__mark{
    color: v.$white;
    font-weight: v.$medium;
    margin: 0;
    font-size: 3rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 100%;
    font-size: 1.4rem;
}
.nav__anchor{
    color: v.$white;
    font-weight: v.$medium;
}
